@import url("https://fonts.cdnfonts.com/css/poppins");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-size: cover;
  background-position-x: center;
  background-image: url(images/galaxy.jpg);
  color: #fff;
}

#header {
  width: 95%;
  height: 100vh;
}
.container {
  padding: 10px 3%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: lightsalmon;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}
.logo {
  width: 100px;
}

.header-text {
  margin-top: 8%;
  font-size: 25px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.header-text h1 {
  position: relative;
  color: black;
  -webkit-text-stroke: 0.3vw black;
  font-size: 60px;
  margin-top: 32px;
}
.header-text h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: palevioletred;
  -webkit-text-stroke: 0vw black;
  border-right: 2px solid palevioletred;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 40%;
  }
}
